/* GLOBAL */
._bg_blue {
  background-color: #2C3E50;
  color: white;
}

._bg_green {
  background-color: #1ABC9C;
  color: white;
}

._py_50 {
  padding: 50px 0;
}

._container_60 {
  width: 60%;
  margin: 0 auto;
}

._star {
  padding-bottom: 20px;
}

 /* HEADER */
header{
  height: 90px;
  line-height: 90px;  
}

header .row h5 {
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase; 
}

header .row nav ul li {
  list-style: none;
  display: inline-block;
}

header .row nav ul a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
  text-transform: uppercase; 
  font-size: 14px;
}

header .row nav ul a:hover {
  color: #1ABC9C;
}

header .row i {
  border: 1px solid #DDDDDD;
  padding: 5px 10px;
  border-radius: 3px;
  color: #888888;
}

/* JUMBOTRON */
._jumbotron {
  margin-top: 90px;
}

._inner_jumbo {
  width: 800px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

._jumbotron img {
  width: 230px;
}

._jumbotron h1 {
  text-transform: uppercase; 
  font-weight: bold;
  font-size: 45px;
}

._jumbotron p {
  text-transform: uppercase;
}

/* MAIN */
main h2 {
  text-transform: uppercase; 
  font-size: 35px;
}

/* portfolio */
._portfolio ._image_box {
  position: relative;
  margin-bottom: 30px;
}

._portfolio img {
  width: 100%;
  border-radius: 10px;
}

._portfolio ._layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 65px;
  border-radius: 10px;
  color: white;
  background-color: rgba(26, 188, 156, 0.6);
  opacity: 0;
  transition: opacity 0.3s;
}

._portfolio ._image_box:hover ._layover {
  opacity: 1;
}

/* about */
._about button {
  margin-top: 20px;
}

._about button:hover {
  color: #2C3E50;
}

/* contact me */
._custom_border {
  border: none;
  border-bottom: 1px solid #D1D1D1;
  border-radius: 0;  
}

._btn_green {
  background-color: #1ABC9C;
  border-color: #1ABC9C;
}

::placeholder {
  color: #2C3E50 !important;
}

/* FOOTER */
._footer_top {
  background-color: #3A546D;
  color: white;  
}

._footer_top ._social i {
  padding: 13px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 3px;
  cursor: pointer;
}

._footer_top ._social .fa-facebook-f {
  padding: 12px 15px;
}

._footer_top ._link_green {
  text-decoration: none;
  color: #1ABC9C;
}

._footer_bottom {
  padding: 30px;
}

._footer_bottom p {
  font-size: 14px;  
}